@theme {
  --box-trim-both: trim-both;
  --box-trim-start: trim-start;
  --box-trim-end: trim-end;
}

@utility box-trim-* {
  text-box-trim: --value(--box-trim-*, "none");
}

@utility box-edge-* {
  text-box-edge: --value(
    --box-edge-*,
    "text",
    "alphabetic",
    "ideographic",
    "cap",
    "ex",
    [*]
  );
}
