name: Publish Package to NPM

on:
  workflow_run:
    workflows: ["Test"]
    branches: [main]
    types:
      - completed

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: "latest"
          registry-url: "https://registry.npmjs.org"
      - name: Install dependencies
        run: npm ci
      - name: Get version
        id: package-version
        run: echo "version=$(npm pkg get version | tr -d '"')" >> "$GITHUB_OUTPUT"
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release create v${{ steps.package-version.outputs.version }} \
            --generate-notes \
            --title "v${{ steps.package-version.outputs.version }}"
      - name: Publish to NPM
        run: npm publish --provenance
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
